<h1>New Place I've visited</h1>

<form action="/journals" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </p>
  <button>Submit</button>
</form>
